<h1>Nookbuzz Notification Unsubscribe</h1>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            We are sad to see you go and hope that you would share the same interest in NookBuzz as we do. However, if you wish to unsubscribe and remove yourself from our contacts list, you are free to do so and we respect your decision.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <button class="btn btn-danger" ng-click="unsubscribe.unsub()">Yes, Please Remove My Mail</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-danger" ng-click="unsubscribe.staysub()">No, I would like to receive news about NookBuzz</button>
    </div>
</div>