<h3>Newsletter Mailer Panel</h3>

<table class="table table-bordered" style="background-color: #FFFFFF; color:#000000;">
    <tr>
        <th style="width:45%">Subject</th>
        <th style="width:20%">Date Created</th>
        <th style="width:20%">Last Mailed</th>
        <th style="width:5%">Send</th>
        <th style="width:5%">Edit</th>
        <th style="width:5%">Delete</th>
    </tr>
    <tr dir-paginate="mailObj in mailerPanel.mailerList | itemsPerPage: 10">
        <td>{{mailObj.subject}}</td>
        <td>{{mailObj.dateCreated}}</td>
        <td>{{mailObj.lastMailed}}</td>
        <td>
            <button type="button" class="btn btn-warning" ng-click="mailerPanel.sendMailer(mailObj._id)">Send</button>
        </td>
        <td>
            <a class="btn btn-info" ui-sref="admin.mailer-form-edit({mailerId:mailObj._id})">Edit</a>
        </td>
        <td>
            <button type="button" class="btn btn-danger" ng-click="mailerPanel.deleteMailer(mailObj._id)">DEL</button>
        </td>
    </tr>
</table>

<dir-pagination-controls></dir-pagination-controls>